ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #fff;
}

.name {
    text-align: center;
    color: #D4F1F4;
    padding: 10px;
    font-size: 50px;

}

.secondsection {
    display: flex;
    justify-content: center;
}

.headertype ul {
    width: 100%; /* Ensures the ul takes the full width of its container */
}

.headertype ul li {
    margin: 0 50px; /* Adjust the margin to your preference */
}

* {
    background-color: #189AB4;
}